@media (max-width: 1024px) {
  .container {
    width: 1000px;
  }

  .menu-container {
    width: 1000px;

    &::before {
      width: 1000px;
    }
  }

  .services {
    width: 1000px;
  }

  .portfolio {
    width: 1000px;
  }

  .about {
    width: 1000px;

    .about_date {
      width: 54%;
    }

    .about_date-text {
      width: 60%;

      .about_date-text-para {
        width: 100%;
      }
    }
  }

  .team {
    width: 1000px;
  }

  .logos {
    width: 1000px;
  }

  .contact {
    width: 1000px;
  }

  footer {
    width: 1000px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 750px;
  }

  .menu-container {
    width: 750px;

    &::before {
      width: 750px;
    }

    .top-menu {
      .top-menu__logo {
        margin-left: 10px;
      }

      .top-menu__nav {
        margin-right: 10px;
      }
    }

    .menu-text-area {

      .menu-text__para {
        font-size: 30px;
      }

      .menu-text__para--large {
        font-size: 40px;
      }
    }
  }

  .services {
    width: 750px;
  }

  .portfolio {
    width: 750px;
    height: 1600px;
    max-height: 1600px;
  }

  .about {
    width: 750px;

    .about_date {
      width: 61%;
    }

    .about_date-text {
      width: 61%;
      padding: 0 10px;

      .about_date-text-para {
        width: 100%;
      }
    }

    .about_date--left {
      margin-left: 2%;
    }

    .about_date--right {
      margin-right: 2%;
    }
  }

  .team {
    width: 750px;
    height: 1480px;

    .team__container {
      flex-direction: column;
    }
  }

  .logos {
    width: 750px;
  }

  .contact {
    width: 750px;
    height: 810px;

    .contact__form {
      flex-direction: column;
      align-items: center;

      .contact__form-data {
        margin: 0;
      }
    }
  }

  footer {
    width: 750px;
  }
}

@media (max-width: 425px) {
  .container {
    width: 410px;
  }

  .menu-container {
    width: 410px;

    &::before {
      width: 410px;
    }

    .top-menu {
      flex-direction: column;
      align-items: center;
      height: auto;

      .top-menu__logo {
        margin: 0;
        height: 90px;
      }

      .top-menu__nav {
        margin: 0;

        .top-menu__list {
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .menu-text-area {
      justify-content: flex-start;

      .menu-text__para {
        font-size: 30px;
      }

      .menu-text__para--large {
        font-size: 40px;
      }
    }
  }

  .services {
    width: 410px;
    height: 1030px;

    .services__text {
      margin: 30px 0;
    }

    .services__icons {
      flex-direction: column;
    }
  }

  .portfolio {
    width: 410px;
    height: 2880px;
    max-height: 2880px;

    .portfolio__text {
      margin: 30px 0;
    }

    .portfolio__examples { 
      justify-content: space-around;
      flex-direction: column;
      margin: 0;
    }
  }

  .about {
    width: 410px;
    height: 1300px;

    &::before {
      display: none;
    }

    .about__text {
      margin: 30px 0;
    }

    .about_date {
      width: 96%;
    }

    .about_date-text {
      width: 65%;
      padding: 0 10px;

      .about_date-text-para {
        width: 100%;
      }
    }

    .about_date--left {
      margin: 2% 0;
    }

    .about_date--right {
      margin: 2% 0;
    }

    .about_date-circle {
      height: 120px;
      width: 120px;
    }
  }

  .team {
    width: 410px;
    height: 1480px;

    .team__container {
      flex-direction: column;
    }

    .team__article {
      margin: 10px 10px;
      width: auto;
    }
  }

  .logos {
    width: 410px;
    height: 210px;
    display: flex;
    flex-direction: column;
  }

  .contact {
    width: 410px;
    height: 810px;

    .contact__form {
      flex-direction: column;
      align-items: center;

      .contact__form-data, .contact__form-message {
        margin: 0;
        width: 370px;
      }
    }
  }

  footer {
    width: 410px;
    height: 135px;

    .footer__container {
      width: 410px;
      display: flex;
      flex-direction: column;

      .footer__text {
        width: auto;
        margin: 20px 0;
      }
    }
  }
}