$sidebar-width: 200px;
$top-menu-height: 60px;
$general-margin: 18px;

$general-font: 'Roboto' ;
$font-size-header: 16px;
$font-size-btn: 18px;
$font-size-sm: 13px;

$font-weight-normal: 300 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-btn: 300 !default;

// COLORS
$black: #191919 !default; 
$white: #fff !default;
$yell: yellow !default;

$font-1: #777777 !default;

$grey-1: #f5f5f5 !default; 
$grey-2: #e3e3e3 !default; 
$grey-3: #bababa !default; 
$grey-4: #a6a6a6 !default;
$grey-5a: #979797 !default;
$grey-5: #808080 !default; 
$grey-6: #333333 !default; 
$grey-7: #9c9c9c !default; 
$grey-8: #f4f4f1 !default; 
$grey-9: #eaeae0 !default;
$grey-10: #f2f2f2 !default;
$grey-11: #f7f7f7 !default;
$grey-12: #f1f1f1 !default;
$grey-13: #f9f9f9 !default;

$orange: #f58220 !default;
$orange-light: #ffa200 !default;

$red: #f00 !default;
$red-dark: #ad0000 !default;
$carmine: #de5252 !default;
$carmine-light: #ec7171 !default;

$green: #04ae00 !default;
$ferngreen: #74b67a !default;
$ferngreen-light: #96cc9b !default;

$navyblue: #56819f !default;
$skyblue: #80bfca !default;
$lightblue: #f1f3f3 !default;
$blue-dark: #2525a8 !default;

$gold-1: #fed136 !default;

// BUTTONS vars
$padding-v-btn: 12px;
$padding-h-btn: 19px;
$border-radius-btn: 3px;

//fonts
$general-font: 'Roboto';
$second-font: 'Indie Flower', cursive;




