.logos {
  background-color: $white;
  margin: 0 auto;
  height: 165px;
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos__logo {
  height: 50px;
  width: 150px;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos__logo-img {
  height: auto;
  width: 100%;
  filter: grayscale(100%);
}

@media (max-width: 1024px) {

  .logos {
    width: 1000px;
  }
}

@media (max-width: 768px) {

  .logos {
    width: 750px;
  }
}

@media (max-width: 425px) {

  .logos {
    width: 410px;
    height: 210px;
    display: flex;
    flex-direction: column;
  }
}