.logos {
  background-color: $white;
  margin: 0 auto;
  height: 165px;
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logos_logo {
    height: 50px;
    width: 150px;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logos_logo-img {
      height: auto;
      width: 100%;
      filter: grayscale(100%);
    }
  }
}